* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #d96226;
    --p-color: #ffffff8a;
}
html {
    scroll-behavior: smooth;
}
body {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    background: url(../images/body_bg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.loader::after {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #3498db;
    border-color: #3498db transparent #3498db transparent;
    animation: loader 1.5s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}
body.loaded .loader {
    display: none;
}
.hidden {
    display: none;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
p {
    color: var(--p-color);
}
a {
    text-decoration: none;
}
.container {
    padding: 30px 50px;
}
.section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-title {
    text-align: center;
    padding-bottom: 60px;
}
.main-title h2 {
    font-size: 35px;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-left: 35px;
    transition: 0.3s;
}
.active {
    color: var(--main-color);
}
.nav-link:hover {
    color: var(--main-color);
}
.icons {
    display: flex;
    column-gap: 1rem;
}
.icons .search i,
.icons .user i,
.icons .menu i {
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.icons .user i:hover  {
    color: var(--main-color);
}
.icons .search i:hover {
    color: var(--main-color);
}
.icons .menu i:hover {
    color: var(--main-color);
}
.first-slide {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.slide-title h3 {
    font-size: 47px;
    line-height: 45px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.slide-description p {
    line-height: 1.8;
}
.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 240px;
    height: 70px;
    margin-top: 1rem;
}
.main-button .btn {
    background-color: var(--main-color);
    width: 210px;
    height: 65px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    max-width: 100%;
}
.main-button .btn:hover {
    background-color: #000;
}
.slide-contact {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin: 1rem 0 0 0;
}
.slide-phone ,
.slide-mail {
    display: flex;
    align-items: center;
    column-gap: .6rem;
}
.slide-phone i,
.slide-mail i {
    font-size: 18px;
}
.slide-mail a {
    color: #fff;
}
.controls {
    align-items: center;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 3.5rem;
}
.controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.controls button i {
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.controls button:hover i {
    color: var(--main-color);
}
#about {
    background-color: #ffffff;
    position: relative;
}
.about-container {
    display: grid;
    grid-template-columns: 1.2fr 1.3fr;
    padding: 30px 25px;
}
.about-container::after {
    content: "";
    background-image: url(../images/about_left.png);
    position: absolute;
    top: 0;
    width: 280px;
    height: 200px;
    left: 0;
    opacity: 0.5;
}
.about-title {
    position: relative;
}
.about-title h2 {
    color: #000;
    font-size: 38px;
    line-height: 2;
    letter-spacing: 1px;
    padding-bottom: 25px;
    opacity: 0.6;
}
.about-description p {
    color: #000;
    position: relative;
    padding-top: 12px;
}
.about-btn {
    padding-top: 25px;
}
.right-about .image img {
    width: 400px;
}
.quality-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center; 

}
.quality-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    transition: 0.3s;
}
.quality-box:hover {
    box-shadow: 10px 10px 10px 9px rgba(0, 0, 0, 0.3);
}
.quality-box img {
    transition: 0.5s ease-in-out;
}
.quality-box:hover img {
    transform: translateY(-20px);
}
.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    padding-bottom: 60px;
}
.form input {
    padding: 15px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    transition: 0.4s ease;
    caret-color: #d96226;
    color: #fff;
}
.form input::placeholder {
    color: #fff;
}
.form input:focus {
    border-color: #000;
    box-shadow: 10px 10px 6px 6px rgba(0, 0, 0, 0.3);
}
.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-button button {
    background-color: var(--main-color);
    padding: 20px 60px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    border: none;
    transition: 0.5s ease-in-out;
}
.form-button button:hover{
    background-color: #000;
} 
.shop-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.footer-title {
    margin-bottom: 16px;
}
.footer-description p {
    line-height: 2;
}
.social-icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.social-icons i {
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.social-icons i:hover {
    color: var(--main-color);
}
.footer-address a {
    color: var(--p-color);
    transition: 0.3s;
}
.footer-address a:hover {
    color: #fff;
}
.footer-link {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    transition: 0.3s;
}
.footer-link:hover {
    color: var(--main-color);
}
.footer-newsletter {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.footer-newsletter input {
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 20px;
    transition: 0.3s ease;
}
.footer-newsletter input:focus {
    border-color: #000;
    box-shadow: 10px 10px 6px 6px rgba(0, 0, 0, 0.3);
}
.footer-newsletter input:last-child {
    background-color: var(--main-color);
    border: none;
    color: #fff;
    cursor: pointer;
}
.copyright {
    text-align: center;
    padding: 50px 20px 50px 20px;
}
.copyright span {
    font-size: 18px;
    color: red;
}
.menu,
.close {
    display: none;
}

@media screen and (max-width: 676px) {
    .container {
        padding: 30px 25px;
    }
    .nav-bar {
        display: flex;
    }
    .nav-list {
        position: fixed;
        top: 70px;
        right: -100%;
        flex-direction: column;
        background-color: var(--main-color);
        row-gap: 2rem;
        height: 100vh;
        padding-top: 80px;
        padding-right: 100px;
        z-index: 2;
        transition: 0.3s;
    }
    .active {
        color: #000;
    }
    .nav-list .nav-link:hover {
        color: #000;
    }
    .nav-list.show-menu {
        right: 0;
    }
    .hide-navlist {
        display: none;
    }
    .icons .menu {
        display: block;
    }
    .first-slide {
        flex-direction: column;
        display: flex;
        row-gap: 3rem;
    }
    .slide-title h3 {
        font-size: 35px;
    }
    .main-button {
        justify-content: left;
        max-width: 200px;
        height: 65px;
    }
    .main-button .btn {
        width: 160px;
        height: 55px;
    }
    .slide-contact {
        flex-direction: column;
        align-items: flex-start;
    }
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        padding: 30px 30px;
    }
    .main-title {
        padding: 0 20px 60px 20px;
    }
    .main-title h2 {
        font-size: 40px;
    }
    .quality-container,
    .form,
    .footer-container {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 1024px) {
    .quality-container {
        grid-template-columns: repeat(4, 1fr);
        place-content: center;
    }
    .form {
        gap: 2rem;
    }
}
@media screen and (min-width: 1400px) {
    .about-container {
        grid-template-columns: 2fr 1.4fr;
        column-gap: 2rem;
    }
}